<h1>À propos de Fullstack-seed</h1>

<div>
    <h2>Bâti à partir des technos</h2>
    <ul>
        <li>Client : angular 4.0</li>
        <li>Serveur : Node.js Express</li>
        <li>Base de données : NeDB</li>
        <li>Authentification : Auth0 JSON Web token</li>
    </ul>
</div>

<div>
    <h2>Pages nécessitant l'authentification</h2>
    <ul>
        <li>Livres</li>
    </ul>
</div>

<div>
    <h2>Connexion</h2>
    <ul>
        <li>Login : toto</li>
        <li>password : toto</li>
    </ul>
</div>