//Gestion des polices externes
//http://www.fontsquirrel.com/tools/webfont-generator

@mixin font-face($font-family, $file, $font-weight, $font-style) {
    $file-path: "../public/fonts/"  + $file;

    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype'),
        url('#{$file-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('#{$file-path}.svg##{$font-family}') format('svg');
        }
    }
}

@include font-face('Roboto', 'roboto-regular-webfont', 400, normal);
@include font-face('Roboto', 'roboto-italic-webfont', 400, italic);
@include font-face('Roboto', 'roboto-light-webfont', 300, normal);
@include font-face('Roboto', 'roboto-medium-webfont', 500, normal);
@include font-face('Roboto', 'roboto-bold-webfont', 700, normal);

@include font-face('FontAwesome', 'fontawesome-webfont', normal, normal);