@import '../../../style/vars';
@import '../../../style/typo';
@import '../../../style/mixins';
@import '../../../style/layout';
@import '../../../style/buttons';

.shadowed-block {
    display: block;
    background-color: $color-white;
    padding: 20px;
    @extend .shadowed;
}

.lateral-block {
    display: inline-block;
    width: 30%;
}

.content-block {
    display: inline-block;
    width: 68%;
    vertical-align: top;
    float:right;
}